:root {
  --light-red: hsl(0, 100%, 67%);
  --orange-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --bg-light-slate-blue: hsl(252, 100%, 67%);
  --bg-light-royal-blue: hsl(241, 81%, 54%);
  --circle-violet-blue: hsla(256, 72%, 46%, 1);
  --circle-persian-blue: hsla(241, 72%, 46%, 0);
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
}

p {
  font-size: 18px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 5px;
}

section {
  height: 500px;
  width: 350px;
}

.container {
  display: flex;
  box-shadow: rgba(43, 107, 171, 0.2) 0px 8px 24px;
  border-radius: 32px;
}

.your-result-container {
  background-image: linear-gradient(
    to bottom,
    var(--bg-light-slate-blue),
    var(--bg-light-royal-blue)
  );
  border-radius: 32px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.your-result-container h2 {
  font-size: 20px;
  color: var(--light-lavender);
}

.your-result-container h3 {
  font-size: 27px;
  margin-top: 20px;
  color: var(--white);
}

.your-result-container p {
  color: var(--light-lavender);
  text-align: center;
  margin-top: 15px;
}

.your-result-container .result {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 20px;
  background-image: linear-gradient(
    to bottom,
    var(--circle-violet-blue),
    var(--circle-persian-blue)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.your-result-container .result h3 {
  font-size: 70px;
  color: var(--white);
}

.your-result-container .result p {
  color: var(--light-lavender);
  opacity: 0.6;
}

.summary-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.summary-container h2 {
  font-size: 20px;
}

.summary-container ul {
  margin-top: 30px;
}

.summary-container li {
  margin-top: 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 15px;
  border-radius: 10px;
}

.summary-container li div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.summary-container .percentage {
  color: #838383;
}

.summary-container .percentage b {
  color: var(--dark-gray-blue);
}

.summary-container li div img {
  width: 25px;
  height: 25px;
}

.summary-container .reaction {
  background-color: rgba(255, 87, 87, 0.155);
  color: var(--light-red);
}

.summary-container .memory {
  background-color: rgba(255, 176, 31, 0.1);
  color: var(--orange-yellow);
}

.summary-container .verbal {
  background-color: rgba(0, 189, 145, 0.1);
  color: var(--green-teal);
}

.summary-container .visual {
  background-color: rgba(17, 37, 212, 0.1);
  color: var(--cobalt-blue);
}

.summary-container button {
  margin-top: 40px;
  padding: 10px;
  height: 45px;
  width: 100%;
  border-radius: 360px;
  text-align: center;
  border: none;
  color: var(--white);
  background-color: var(--dark-gray-blue);
  cursor: pointer;
}

.attribution {
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
}

.attribution a {
  text-decoration: none;
  color: var(--bg-light-royal-blue);
  font-weight: 700;
}

@media screen and (max-width: 700px) {
  main {
    margin: 0;
  }

  body {
    height: 100%;
  }

  section {
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    border-radius: 0;
  }

  .your-result-container {
    border-radius: 0;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
  }

  .attribution {
    max-width: 300px;
    margin-bottom: 10px;
  }
}
